<p-panel>
  <p-header>
    <!--<i>{{listParams.icon}}</i><p>{{listParams.title}}</p>-->
    <p><i class="{{listParams.icon}}"></i><span style="display:inline-block; width: 10px;"></span>{{listParams.title}}</p>
  </p-header>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis, nec varius tortor quam at diam. Nullam a viverra nibh. In tincidunt tempor lectus quis vulputate. Pellentesque nec dui aliquam, lobortis est in, lobortis ante
  <div *ngFor="let restaurant of restaurants$ | restaurantFilter:listParams.category">
    <app-restaurant-teaser [restaurant]="restaurant"></app-restaurant-teaser>
  </div>
</p-panel>




