
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <a [routerLink] = "['/']">
      <img class="logo-rentany" src="/images/logo_rentany.png">
    </a>
  </div>

  <div class="ui-toolbar-group-right">
    <!--<button pButton type="button" icon="fa-search">Registrierung</button>-->
    <!--<button pButton type="button" icon="fa-trash">Login</button>-->
    <!--<ul *ngIf="!userIsLoggedIn" class="nav navbar-nav  navbar-right">-->
      <!--<li><a (click)="register()">Registrierung</a></li>-->
      <!--<li><a (click)="login()">Login</a></li>-->
    <!--</ul>-->

    <!--<a (click)="register()">Registrierung</a>-->
    <!--<a (click)="login()">Login</a>-->
    <button
      *ngIf="(userIsLoggedIn$ | async) === false"
      pButton type="button"
      (click)="showRegister()"
      label="Register"
      class="ui-button-secondary">
    </button>
    <button
      pButton
      *ngIf="(userIsLoggedIn$ | async) === false"
      type="button"
      (click)="showLoginForm()"
      label="Login"
      class="ui-button-secondary">
    </button>
    <button
      *ngIf="(userIsLoggedIn$ | async) === true"
      pButton
      type="button"
      (click)="showRestaurantOverview()"
      label="My Restaurants"
      class="ui-button-secondary">
    </button>
    <button
      *ngIf="(userIsLoggedIn$ | async) === true"
      pButton
      type="button"
      (click)="changePassword()"
      label="Change Password"
      class="ui-button-secondary">
    </button>
    <button
      *ngIf="(userIsLoggedIn$ | async) === true"
      pButton
      type="button"
      (click)="editUser()"
      label="Edit Profile"
      class="ui-button-secondary">
    </button>
    <button
      pButton
      *ngIf="(userIsLoggedIn$ | async) === true"
      type="button"
      (click)="logout()"
      label="Logout"
      class="ui-button-secondary">
    </button>
    <a href="#" id="rightpanel-menu-button">
      <i class="material-icons">more_vert</i>
    </a>

    <a href="#" id="menu-button">
      <i></i>
    </a>

    <!--<div _ngcontent-c0="" class="layout-menu">-->
      <!--<div _ngcontent-c0="" class="nano has-scrollbar">-->
        <!--<div _ngcontent-c0="" class="nano-content menu-scroll-content" tabindex="0" style="margin-right: -17px;">-->
          <!--<ul app-submenu="" class="ultima-menu ultima-main-menu clearfix ng-tns-c2-0" root="true" visible="true">-->
            <!--<li class="ng-tns-c2-0">-->
              <!--<a class="ripplelink ng-tns-c2-0 active-menuitem-routerlink" routerlinkactive="active-menuitem-routerlink" href="#/">-->
                <!--<i class="material-icons ng-tns-c2-0">dashboard</i>-->
                <!--<span class="ng-tns-c2-0">Dashboard</span>-->
              <!--</a>-->
              <!--<div class="layout-menu-tooltip">-->
                <!--<div class="layout-menu-tooltip-arrow"></div>-->
                <!--<div class="layout-menu-tooltip-text">Dashboard</div>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li class="ng-tns-c2-0">-->
              <!--<a class="ripplelink ng-tns-c2-0" href="#">-->
                <!--<i class="material-icons ng-tns-c2-0">palette</i>-->
                <!--<span class="ng-tns-c2-0">Themes</span><span class="ink ripple-animate" style="height: 75px; width: 75px; top: -12.5px; left: 0.5px; pointer-events: none;"></span>-->
                <!--<span class="menuitem-badge ng-tns-c2-0">6</span><span class="ink ripple-animate" style="height: 75px; width: 75px; top: -12.5px; left: 0.5px; pointer-events: none;"></span>-->
                <!--<i class="material-icons submenu-icon ng-tns-c2-0">keyboard_arrow_down</i>-->
              <!--</a>-->
              <!--<div class="layout-menu-tooltip">-->
                <!--<div class="layout-menu-tooltip-arrow"></div>-->
                <!--<div class="layout-menu-tooltip-text">Themes</div>-->
              <!--</div>-->
              <!--<ul app-submenu="" class="ng-tns-c2-2 ng-tns-c2-0 ng-trigger ng-trigger-children" style="height: 0px;">-->
                <!--<li class="ng-tns-c2-2">-->
                  <!--<a class="ripplelink ng-tns-c2-2" href="#" tabindex="-1">-->
                    <!--<i class="material-icons ng-tns-c2-2">brush</i>-->
                    <!--<span class="ng-tns-c2-2">Indigo - Pink</span>-->
                  <!--</a>-->
                  <!--<div class="layout-menu-tooltip">-->
                    <!--<div class="layout-menu-tooltip-arrow"></div>-->
                    <!--<div class="layout-menu-tooltip-text">Indigo - Pink</div>-->
                  <!--</div>-->
                <!--</li>-->

                <!--<li class="ng-tns-c2-2">-->
                  <!--<a class="ripplelink ng-tns-c2-2" href="#" tabindex="-1">-->
                    <!--<i class="material-icons ng-tns-c2-2">brush</i>-->
                    <!--<span class="ng-tns-c2-2">Brown - Green</span><span class="ink ripple-animate" style="height: 200px; width: 200px; top: -80.3333px; left: 31px; pointer-events: none;"></span>-->
                  <!--</a>-->
                  <!--<div class="layout-menu-tooltip">-->
                    <!--<div class="layout-menu-tooltip-arrow"></div>-->
                    <!--<div class="layout-menu-tooltip-text">Brown - Green</div>-->
                  <!--</div>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


 </div>
  <!--<p-growl [value]="msgs" sticky="sticky" (click)="handleMessage()"></p-growl>-->
<adv-growl
  (onClose)="handleMessage($event)"
  (onMessagesChanges)="onMessages($event)"
></adv-growl>
</p-toolbar>
<div *ngIf="(showRegister$ | async)">
  <app-user-edit></app-user-edit>
</div>
<div *ngIf="(showLogin$ | async)">
  <app-login></app-login>
</div>
<div *ngIf="(showPasswordChange$ | async)">
  <app-password-change></app-password-change>
</div>
<div *ngIf="(showRestaurantOverview$ | async)">
  <app-restaurant-overview></app-restaurant-overview>
</div>
<div *ngIf="(showRestaurantDetails$ | async)">
  <app-restaurant-edit></app-restaurant-edit>
</div>



