
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <a [routerLink]="['/']">
      <img class="logo-rentany" src="/images/logo_rentany.png">
    </a>
  </div>

  <div class="ui-toolbar-group-right">
    <!--<button-->
      <!--*ngIf="(userIsLoggedIn$ | async) === false"-->
      <!--pButton type="button"-->
      <!--(click)="showRegister()"-->
      <!--label="Register"-->
      <!--class="ui-button-secondary">-->
    <!--</button>-->
    <!--<button-->
      <!--pButton-->
      <!--*ngIf="(userIsLoggedIn$ | async) === false"-->
      <!--type="button"-->
      <!--(click)="showLoginForm()"-->
      <!--label="Login"-->
      <!--class="ui-button-secondary">-->
    <!--</button>-->
    <a *ngIf="(userIsLoggedIn$ | async) === false"
       href="#"
       (click)="showRegister()">
      <span class="topbar-item-name">Register</span>
    </a>
    <a *ngIf="(userIsLoggedIn$ | async) === false"
       href="#"
       (click)="showLoginForm()">
      <span class="topbar-item-name">Login</span>
    </a>
    <a *ngIf="(userIsLoggedIn$ | async) === true"
       href="#"
       (click)="showMenu()">
      <i class="fa fa-user topbar-item-name" style="{height: 48px !important;width: 48px !important;}"></i>
    </a>
    <!--<button-->
      <!--*ngIf="(userIsLoggedIn$ | async) === true"-->
      <!--pButton-->
      <!--type="button"-->
      <!--(click)="showRestaurantOverview()"-->
      <!--label="My Restaurants"-->
      <!--class="ui-button-secondary">-->
    <!--</button>-->
    <!--<button-->
      <!--*ngIf="(userIsLoggedIn$ | async) === true"-->
      <!--pButton-->
      <!--type="button"-->
      <!--(click)="changePassword()"-->
      <!--label="Change Password"-->
      <!--class="ui-button-secondary">-->
    <!--</button>-->
    <!--<button-->
      <!--*ngIf="(userIsLoggedIn$ | async) === true"-->
      <!--pButton-->
      <!--type="button"-->
      <!--(click)="editUser()"-->
      <!--label="Edit Profile"-->
      <!--class="ui-button-secondary">-->
    <!--</button>-->
    <!--<button-->
      <!--pButton-->
      <!--*ngIf="(userIsLoggedIn$ | async) === true"-->
      <!--type="button"-->
      <!--(click)="logout()"-->
      <!--label="Logout"-->
      <!--class="ui-button-secondary">-->
    <!--</button>-->
    <!--<a *ngIf="(userIsLoggedIn$ | async) === true" href="#" (click)="menuClick($event)">-->
      <!--<i class="material-icons">more_vert</i>-->
    <!--</a>-->
    <!--<button *ngIf="(userIsLoggedIn$ | async) === true"-->
            <!--type="button"-->
            <!--pButton-->
            <!--icon="fa fa-user"-->
            <!--class="ui-button-icon-only"-->
            <!--pTooltip="Shows Menu"-->
            <!--style="background-color: transparent; color: white"-->
            <!--(click)="menuClick($event)">-->
    <!--</button>-->


 </div>
</p-toolbar>

<!--<div *ngIf="showMenu">-->
<app-rightpanel></app-rightpanel>
<!--</div>-->

<!--<div class="rb-menu-right">-->
  <!--<ul class="ultima-menu animated fadeInDown" *ngIf="showMenu">-->
    <!--<li>-->
      <!--<a href="#" (click)="showRestaurantOverview()">-->
        <!--<i class="fa fa-home" style="background-color: transparent; color: black"></i>-->
        <!--<span class="topbar-item-name">My Restaurants</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#" (click)="editUser()">-->
        <!--<i class="fa fa-user" style="background-color: transparent; color: black"></i>-->
        <!--<span class="topbar-item-name">Profile</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#" (click)="changePassword()">-->
        <!--<i class="fa fa-key" style="background-color: transparent; color: black"></i>-->
        <!--<span class="topbar-item-name">Password</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#" (click)="logout()">-->
        <!--<i class="fa fa-power-off" style="background-color: transparent; color: black"></i>-->
        <!--<span class="topbar-item-name">Logout</span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

  <!--<p-growl [value]="msgs" sticky="sticky" (click)="handleMessage()"></p-growl>-->
<adv-growl
  (onClose)="handleMessage($event)"
  (onMessagesChanges)="onMessages($event)"
></adv-growl>
<div *ngIf="(showRegister$ | async)">
  <app-user-edit></app-user-edit>
</div>
<div *ngIf="(showLogin$ | async)">
  <app-login></app-login>
</div>
<div *ngIf="(showPasswordChange$ | async)">
  <app-password-change></app-password-change>
</div>
<div *ngIf="(showRestaurantOverview$ | async)">
  <app-restaurant-overview></app-restaurant-overview>
</div>
<div *ngIf="(showRestaurantEdit$ | async)">
  <app-restaurant-edit></app-restaurant-edit>
</div>
<div *ngIf="(showRestaurantDetail$ | async)">
  <app-restaurant-detail [restaurantId]="detailRestaurantId"></app-restaurant-detail>
</div>
<div *ngIf="(showMealOverview$ | async)" class="ui-g-8 ui-md-offset-2">
  <app-meal-overview
    [restaurantId]="detailRestaurantId"
    [mode]="'edit'">
  </app-meal-overview>
</div>
<div *ngIf="(showMealEdit$ | async)">
  <app-meal-edit></app-meal-edit>
</div>
<div *ngIf="(showRestaurantLayout$ | async)">
  <app-restaurant-layout></app-restaurant-layout>
</div>
