<nav class="navbar navbar-default navbar-fixed-top">
  <app-header></app-header>
</nav>

<div *ngIf="(registerIsVisible$ | async) === true">
  <app-user-edit></app-user-edit>
</div>
<!--<p-autoComplete formControlName="city" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>-->
<!--<div *ngIf="restaurants|async; let restaurantsItems">-->
  <!--<ul *ngIf="restaurantsItems.length > 0">-->
    <!--<li *ngFor="let restaurant of restaurantsItems">{{restaurant.name}}</li>-->
  <!--</ul>-->
<!--</div>-->


<!--<div>-->
  <!--&lt;!&ndash;<ul *ngIf ="(restaurantList | async)?.length!=0 ">&ndash;&gt;-->
  <!--<ul *ngIf ="(restaurantList | async)?.length !=0 ">-->
    <!--<li style="background-color:white;">alle</li>-->
    <!--<li style="background-color:white;" *ngFor="let restaurant of restaurantList | async">{{restaurant.name}}</li>-->
  <!--</ul>-->
<!--</div>-->
<!--<p *ngIf ="(restaurantList | async)?.length>0" style="background-color:white;">There are no restaurants.</p>-->

<!--<div style="background-color:white;">alle</div>-->
<!--<div>-->
  <!--&lt;!&ndash;<ul *ngIf ="(restaurantList | async)?.length!=0 ">&ndash;&gt;-->
  <!--<ul>-->
    <!--<li style="background-color:white;" *ngFor="let restaurant of restaurantList | async">{{restaurant.name}}</li>-->
  <!--</ul>-->
<!--</div>-->

<!--<div>-->
  <!--<p style="background-color:white;" *ngFor="let restaurant of (restaurantList$ | async)">-->
    <!--{{restaurant.name}}-->
  <!--</p>-->
<!--</div>-->
<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <div class="rb-search-box">
        <p>Wo möchtest du essen?</p>
        <div class="form-group">
          <input placeholder="Dein Wunschort"
                 autocorrect="on"
                 autocapitalize="on"
                 spellcheck="off"
                 type="text"
                 class="form-control"
                 #search
                 [(formControl)]="searchControl"
                 name="search">
        </div>
        <div class="rb-msg error">
          {{msgError}}
        </div>
      </div>
      <div class="ui-g-1 rb-search-button">
        <button type="button" class="btn btn-secondary" (click)="goPageList()">
          <i class="fa fa-search"></i>
        </button>
      </div>
  </div>
</div>

<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-g">
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamMeat'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list></div>
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamVegetarian'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list></div>
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamVegan'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list></div>
  </div>
</div>
