<nav>
  <app-header></app-header>
</nav>
<!--<div *ngIf="(showPasswordChange$ | async)">-->
  <!--<app-password-change></app-password-change>-->
<!--</div>-->



<div class="ui-grid ui-grid-responsive">
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <div class="rb-search-box">
        <p>Wo möchtest du essen?</p>
        <div class="form-group">
          <input placeholder="Dein Wunschort"
                 autocorrect="on"
                 autocapitalize="on"
                 spellcheck="off"
                 type="text"
                 class="form-control"
                 #search
                 name="search">
        </div>
        <div class="rb-msg error">
          {{msgError}}
        </div>
      </div>
      <div class="ui-g-1 rb-search-button">
        <button type="button" class="btn btn-secondary" (click)="goPageList()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class=" ui-grid">
  <div class="rb-rest-list">
  <div class="ui-g">
      <div class="ui-g-4 ">
        <app-restaurant-list
          [listParams]='listParamMeat'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list>
      </div>
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamVegetarian'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list>
      </div>
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamVegan'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list>
      </div>
  </div>
  </div>
</div>

