<nav class="navbar navbar-default navbar-fixed-top">
  <app-header></app-header>
</nav>

<div *ngIf="(showRegister$ | async)">
  <app-user-edit></app-user-edit>
</div>

<div *ngIf="(showLogin$ | async)">
  <p-dialog header="Login" [resizable]="false" responsive="true" [(visible)]="showLogin">
    <div class="ui-g form-group" style="margin-bottom: 16px;">
      <div class="ui-g-12">
        <span class="md-inputfield">
            <input type="text" pInputText>
            <label>Username</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
            <input type="password" pInputText>
            <label>Password</label>
        </span>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button"
                label="Login"
                icon="ui-icon-person"
                (click)="login()"
                pButton>
        </button>
      </div>
    </p-footer>
  </p-dialog>
</div>

<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <div class="rb-search-box">
        <p>Wo möchtest du essen?</p>
        <div class="form-group">
          <input placeholder="Dein Wunschort"
                 autocorrect="on"
                 autocapitalize="on"
                 spellcheck="off"
                 type="text"
                 class="form-control"
                 #search
                 [(formControl)]="searchControl"
                 name="search">
        </div>
        <div class="rb-msg error">
          {{msgError}}
        </div>
      </div>
      <div class="ui-g-1 rb-search-button">
        <button type="button" class="btn btn-secondary" (click)="goPageList()">
          <i class="fa fa-search"></i>
        </button>
      </div>
  </div>
</div>

<div class="ui-grid ui-grid-responsive ui-fluid">
  <div class="ui-g">
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamMeat'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list></div>
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamVegetarian'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list></div>
      <div class="ui-g-4">
        <app-restaurant-list
          [listParams]='listParamVegan'
          [restaurants$]="(restaurantList$ | async)">
        </app-restaurant-list></div>
  </div>
</div>
