<div class="ui-g-6 ui-md-offset-3">
  <div class="card card-w-title">
    <h1>{{formTitle}}</h1>
    <div class="ui-g form-group">
      <div class="ui-g-12">
        <p-dropdown [options]="restaurantCategories"
                    [(ngModel)]="restaurant.foodType"
                    [autoWidth]="false"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
            <input type="text"
                   pInputText
                   [(ngModel)]="restaurant.name">
            <label>Name</label>
            <div *ngIf="nameRequired" class="ui-message ui-messages-error ui-corner-all">
                  This field is required
            </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
      </div>
      <div class="ui-g-12">
        <h3>Address</h3>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
            <input type="text"
                   pInputText
                   [(ngModel)]="restaurant.street">
            <label>Street</label>
            <div *ngIf="streetRequired" class="ui-message ui-messages-error ui-corner-all">
                  This field is required
            </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
            <input type="text"
                   pInputText
                   [(ngModel)]="restaurant.streetNumber">
            <label>Streetnumber</label>
            <div *ngIf="streetNumberRequired" class="ui-message ui-messages-error ui-corner-all">
                  This field is required
            </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
            <input type="text"
                   pInputText
                   [(ngModel)]="restaurant.postalCode">
            <label>Postalcode</label>
            <div *ngIf="postalcodeRequired" class="ui-message ui-messages-error ui-corner-all">
                  This field is required
            </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
            <input type="text"
                   pInputText
                   [(ngModel)]="restaurant.village">
            <label>City/Village</label>
            <div *ngIf="villageRequired" class="ui-message ui-messages-error ui-corner-all">
                  This field is required
            </div>
        </span>
      </div>

      <div *ngIf="!addRestaurant" class="ui-g-12">
        <div class="card card-w-title">
          <p-dataList [value]="openinghours" [paginator]="false">
            <p-header>
              Opening hours
            </p-header>
            <ng-template let-openinghour let-i="index" pTemplate="item">
              <div class="ui-g">
                <div class="ui-g-12">
                  <h3>{{openinghour.weekday}}</h3>
                </div>
                <div class="ui-g-12">
                  <div class="ui-g-2">
                    <label for="{{'timeFromMorning'+openinghour.weekday}}">
                      Morning
                    </label>
                  </div>
                  <div class="ui-g-3">
                    <p-calendar showTime="true"
                                timeOnly="true"
                                [(ngModel)]="openinghour.fromTimeMorning"
                                id="{{'timeFromMorning'+openinghour.weekday}}">
                    </p-calendar>
                  </div>
                  <div class="ui-g-1"> to </div>
                  <div class="ui-g-3">
                    <p-calendar showTime="true"
                                timeOnly="true"
                                [(ngModel)]="openinghour.toTimeMorning">
                    </p-calendar>
                  </div>
                  <div class="ui-g-2">
                    Closed
                  </div>
                  <div class="ui-g-1">
                    <p-checkbox [(ngModel)]="openinghour.allDayClosed" binary="false"></p-checkbox>
                  </div>
                </div>
                <div class="ui-g-12">
                  <div class="ui-g-2">
                    <label for="{{'timeFromAfternoon'+openinghour.weekday}}">
                      Afternoon
                    </label>
                  </div>
                  <div class="ui-g-3">
                    <p-calendar showTime="true"
                                timeOnly="true"
                                [(ngModel)]="openinghour.fromTimeAfternoon"
                                id="{{'timeFromAfternoon'+openinghour.weekday}}">
                    </p-calendar>
                  </div>
                  <div class="ui-g-1"> to </div>
                  <div class="ui-g-3">
                    <p-calendar showTime="true"
                                timeOnly="true"
                                [(ngModel)]="openinghour.toTimeAfternoon">
                    </p-calendar>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataList>
        </div>
      </div>

      <div class="ui-g-12">
        <h3>Webpage Details</h3>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
            <input type="text"
                   pInputText
                   [(ngModel)]="restaurant.teaserTitle">
            <label>Teaser title</label>
            <div *ngIf="teaserTitleRequired" class="ui-message ui-messages-error ui-corner-all">
                  This field is required
            </div>
        </span>
      </div>
      <!--<div class="ui-g-12">-->
          <!--<label for="textarea">Teaser Description</label>-->
      <!--</div>-->
      <div class="ui-g-12">
        <label>Teaser Description</label>
        <textarea autoresize="autoResize" pinputtextarea="" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                  [(ngModel)]="restaurant.teaserDescription"
                  rows="5"
                  cols="50">
        </textarea>
        <div *ngIf="teaserDescriptionRequired" class="ui-message ui-messages-error ui-corner-all">
          This field is required
        </div>
      </div>
      <div *ngIf="!addRestaurant" class="ui-g-12">
        <div *ngIf="(restaurantImages)?.length>0">
          <p-orderList [value]="restaurantImages" [listStyle]="{'height':'250px'}" [responsive]="true" header="Change Sortorder of Uploaded Pictures" dragdrop="true">
            <ng-template let-restaurantImage pTemplate="item">
              <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #bdbdbd">
                <!--<div class="ui-helper-clearfix">-->
                <img src="http://localhost:3000/images/restaurant/{{restaurantImage.thumbnail}}" style="display:inline-block;margin:2px 0 2px 2px" />
                <div style="font-size:16px;float:right;margin:15px 5px 0 0">{{restaurantImage.teaserImage.replace('_teaser','')}}
                </div>
                <button type="button"
                        pButton
                        icon="ui-icon-delete"
                        class="ui-button-icon-right ui-widget ui-state-default ui-corner-all ui-button-icon-only rbOrderListButton"
                        pTooltip="Remove this restaurant image"
                        (click)="removeImageFile(restaurantImage)">
                </button>
              </div>
            </ng-template>
          </p-orderList>
        </div>
        <div>
          <p-dialog header="Remove Restaurant Image" [resizable]="false" responsive="true" [(visible)]="deleteDialogVisible">
            <div class="ui-g form-group" style="margin-bottom: 16px;">
              <div class="ui-g-12">
                Are You shure to remove this image?
              </div>
            </div>

            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" label="Cancel" icon="ui-icon-close" (click)="cancelRemoveImage()" pButton></button>
                <button type="button" label="Delete" icon="ui-icon-delete" (click)="removeImageFileDefenitly()" pButton></button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
      </div>
      <div *ngIf="!addRestaurant" class="ui-g-12">
        <h3>Upload Picture</h3>
      </div>
      <div *ngIf="!addRestaurant" class="ui-g-12">
        <p-fileUpload name="restaurantPicture"
                      url="http://localhost:3000/api/upload/restaurant"
                      multiple="true"
                      (onUpload)="onUpload($event)"
                      accept="image/*"
                      maxFileSize="5000000">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="ui-g-12 ui-md-3">
        <span class="md-inputfield">
          <button pButton type="button"
                  label="{{labelSaveButton}}"
                  (click)="saveRestaurant()"
                  style="margin-bottom:10px;width:auto">
          </button>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6"></div>
      <div class="ui-g-12 ui-md-3">
        <span class="md-inputfield">
          <button pButton type="button"
                  label="Cancel"
                  (click)="cancelRestaurantEdit()"
                  style="margin-bottom:10px;width:auto">
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
