<div class="ui-g ui-fluid">
  <div class="ui-g-4 ui-lg-4 ui-md-offset-4">
    <!-- Left Side -->
    <div class="card card-w-title">
      <h1>Change Password</h1>
      <div *ngIf="userLoaded">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input id="password"
                     pPassword type="password"
                     [(ngModel)]="user.password"/>
              <label>Password (at least 8 characters)</label>
              <div *ngIf="passwordRequired" class="ui-message ui-messages-error ui-corner-all">
                    This field is required
              </div>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input id="passwordrepeat"
                     pPassword type="password"
                     [(ngModel)]="passwordRepeat"/>
              <label>Password repeat</label>
              <div *ngIf="passwordRepeatRequired" class="ui-message ui-messages-error ui-corner-all">
                    This field is required
              </div>
              <div *ngIf="passwordsNotIdentical" class="ui-message ui-messages-error ui-corner-all">
                    Passwords are not identical!
              </div>
          </span>
        </div>

        <div class="ui-g-3">
          <span class="md-inputfield">
            <button pButton
                    type="button"
                    label="Change Password"
                    (click)="savePassword()"
                    style="margin-bottom:10px;width:auto"
                    [hidden]="userIsLoggedIn$">
            </button>
          </span>
        </div>
        <div class="ui-g-5"></div>
        <div class="ui-g-3">
          <span class="md-inputfield">
            <button pButton
                    type="button"
                    label="Cancel"
                    (click)="hidePasswordChange()"
                    style="margin-bottom:10px;width:auto">
            </button>
          </span>
        </div>
      </div>
    </div>
      </div>
  </div>

