<nav>
  <app-header></app-header>
</nav>
<div class="ui-g-12" classe="rb-restaurant-detail">
  {{detailRestaurant$ | async}}
</div>


<div class="ui-g-12 ui-lg-8">
    <app-meal-overview
      [restaurantId]="restaurantId"
      [mode]="'detail'">
    </app-meal-overview>
</div>
<div class="ui-g-12 ui-lg-4">
  <div class="card">
    <h1>Pictures</h1>
    <p-lightbox [images]="images">
    </p-lightbox>
  </div>
</div>

<!--<div class="ui-g-12 ui-md-9"></div>-->
<!--<div class="ui-g-12 ui-md-3">-->
      <!--<span class="md-inputfield">-->
        <!--<button pButton type="button"-->
                <!--label="Cancel"-->
                <!--(click)="hideRestaurantDetail()"-->
                <!--style="margin-bottom:10px;width:auto">-->
        <!--</button>-->
      <!--</span>-->
<!--</div>-->
