/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #cfcfcf;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
}

h3 {
  font-size: 18px;
}

a img{
  border: 0px;
}

.ra-filter .ui-corner-all {
  border-radius: 10px;
}

.ra-filter .ui-widget-header {
  background: #22a981;
}

.navbar {
  min-height: 40px;
}

.navbar-right {
  margin-right: 0 !important;
}

.nav {
  font-size: 16px;
  margin-top: 6px;
}

.navbar-default {
  background-color: #fefefe;
  border-color: #fefefe;
}

.logo-rentany {
  height: 40px;
  width: 194px;
  margin: 10px 0 0 15px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.jumbotron {
  height: 668px;
}

.jumbotron p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
}

.jumbotron-detail {
  height: 178px !important;
}

.media {
  border-bottom: solid 2px #cfcfcf;
}

.media-body {
  /* font-size: 16px; */
  /* line-height: normal; */
  padding-bottom: 20px;
}

.media-left {
  padding-left: 10px;
  padding-bottom: 10px;
}

.media-body p {
  padding-top: 10px;
}

.footer p {
  text-align: center;
  margin: 40px 0 20px 0;
}

.green {
  color: #22a981;
}

.cont {
  max-width: 300px;
  padding-right: 30px;
  line-height: normal;
  margin-bottom: 40px;
}
.cont:first-child {
  width: 300px;
  margin-bottom: 10px;
}
.cont-large {
  max-width: 600px;
}
.cont-left {
  float: left;
}
.cont-right {
  float: right;
}
.cont h3 {
  margin-top: 0px;
}

.col-list {
  margin-bottom: 20px;
}

.ra-container {
  width: 98%;
}

.ra-block {
  background-color: #fefefe;
}
.ra-block .btn {
  margin-bottom: 25px;
}
.ra-block .modal-content .btn {
  margin-bottom: 0px;
}

.ra-block__body {
  padding: 20px 0 ;
}

.ra-block__container {
  margin: 0 0 0 15px;
  padding: 25px 10px 0 10px;
  display: table;
  width: 100%;
}

.ra-block__container .btn {
  margin-left: 20px;
}

.ra-block__body {
  padding: 20px;
}

.ra-filterblock {
  background-color: #fefefe;
  margin: 0 36px 0 36px;
}

.ra-filterblock .ra-block {
  padding: 0 20px;
}



.ra-block h1 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.ra-filter {
  padding: 20px;
  /* min-height: 900px; */
}

.ra-filter-label {
  width: 150px;
}

.ra-filtermap-switcher {
  float: right;
}

.ra-hero-detail {
  background-position: 50% -60px;
  background-size: cover;
  padding-bottom: 0;
}

.ra-image {
  width: 100%;
}

.ra-image-profil {
  border: 6px solid #fefefe;
  width: 90px;
  float: left;
}

.ra-section-list {
  /* margin-top: 210px; */
}

.ra-section-edit {
  margin-top: 120px;
}

.ra-header-box {
  position: relative;
  width: auto;
  background: transparent;
  background-color: rgba(66, 66, 66, 0.8);
  margin: 420px 0 0 0;
  padding: 40px 0 40px 0;
}

.ra-header-profil {
  background-color: #22a981;
  position: relative;
  width: auto;
  margin: 20px 0 0 0;
  padding: 10px 0 10px 0;
  height: 110px;
}
.ra-header-profil__username {
  font-size: 18px;
  color: #fefefe;
  padding: 32px 0 0 20px;
  float: left;
}

.ra-search-box {
  /*background-color: #000000;*/
  background-color:transparent;
  font-weight: 400;
  /*font-size: 200%;*/
  color: #fefefe;
  padding: 20px 0 18px 20px;
  width: 85%;
  height: 180px;
  float: left;
}

.ra-search-box .mat-input-element {
  width: 400px;
}

.ra-search-box .mat-form-field-placeholder {
  color: #fefefe;
}
.ra-search-box-option {
  background-color: #000000;
  color: #fefefe;
  height: 40px;
  padding: 0 0 0 20px;
}
.ra-search-box-small {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  font-weight: 400;
  color: #555;
  padding: 0;
  height: 90px;
  float: left;
}

.ra-search-box-small p {
  margin: 0;
}

.ra-search-box-small input {
  color: #555 !important;
}

.ra-search-button {
  /* background-color: #22a981; */
  background-color: transparent;
  text-align: left;
  min-width: 60px;
}

.ra-search-button .btn {
  background-color: #22a981;
  margin-left: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  height: 120px;
}

.ra-search-button-small {
  background-color: transparent;
  text-align: center;
  width: 40px;
  height: 40px;
  float: left;
}

.ra-search-button .material-icons {
  padding: 15px 0 10px 0;
  color: #fefefe;
  font-size: 72px !important;
}

.ra-search-button-small .material-icons {
  padding: 30px 15px 0 5px;
  color: #22a981;
  font-size: 42px !important;
}

.ra-msg  {
  line-height: 0;
  font-weight: 400;
}
.ra-msg.error {
  color: #ff6c6c;
}

.ra-search-box input[type="text"], .ra-search-box-small input[type="text"] {
  color: #ffffff;
  padding-right: 20px;
  width: 96%;
  background-color: transparent;
}
.ra-avatar, .ra-obj-thumb {
  width: 60px;
  height: 60px;
}

.ra-teaser-image {
  margin: 0 10px 10px 10px;
  width: 120px;
  height: 120px;
}

.ra-image-circle {
  border-radius: 50%;
}

.ra-gallery {
  display: table;
  min-height: 120px;
  padding: 30px 20px 20px 20px;
}

.ra-gallery__thumb {
  /* background-color: #dedede; */
  height: 90px;
  width: 90px;
  float: left;
  margin: 10px;
}

.ra-gallery__thumb img{
  width: 90px;
  vertical-align: middle
}


.ra-gallery__foto {
  max-height: 900px;
  width: 100%;
  margin: 10px 10px 10px 0px;
  overflow: hidden;
}

.mdl-card__media {
  background-color: #22a981;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #777;
  font-weight: 500;
}

.ra-home-section {
  position: relative;
  height: 160px;
  width: auto;
  /* background: transparent; */
  background-color:  rgba(66, 66, 66, 0.8);
  margin-top: 400px;
  padding-top: 40px;
}

.ra-content-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 90px;
  background-color: #cfcfcf;
}

.ra-slogan {
  font-size: 22px;
  /* padding: 20px; */
  padding: 0px;
  margin: 0 25% 0 25%;
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: #fefefe;
  height: 80px;
}

.ra-slogan .ra-entry-card:last-child {
  margin-bottom: 0 !important;
}

.ra-slogan .ra-search-button  {
  margin: 10px 0 0 20px;
  float: right;
}

.ra-slogan .mdl-card {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 100px !important;
  max-height: 110px !important;
}

.ra-slogan .ra-entry-card{
  border-bottom: none;
}

.ra-slogan .ra-entry-card p {
  font-size: 22px;
  color: #fefefe;
  padding: 25px 0 0 0;
  margin: 0;
}

.ra-slogan .mdl-radio {
  color: #fefefe;
  font-size: 24px;
  line-height: 24px;
}

.ra-slogan .mdl-radio__outer-circle, .ra-slogan .mdl-radio__inner-circle {
  color: #fefefe;
}

.ra-slogan .ra-slogan-text {
  padding: 0 10px 0 0 ;
}

.ra-slogan .mdl-textfield__input {
  font-size: 24px;
  border-bottom: 1px solid #fefefe;
}

.ra-slogan .mdl-textfield {
  width: 90%;
  padding: 0;
  color: #fefefe;
}

.ra-title-category {
  font-size: 20px;
  padding: 14px 8px 0 8px;
  color: #fefefe;
  /* margin-bottom: 200px; */
  border-bottom: 4px solid #efefef;
}

.ra-title-category p {
  font-size: 20px;
  padding: 4px 0 0 0;
  width: 100%;
  /* float: left; */
}

.ra-title-category .material-icons {
  padding: 0px 10px 4px 2px;
  color: #fefefe;
  float:left;
  font-size: 42px;
}

.ra-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
  color: #fefefe;
}

.ra-card-container .ra-cover img {
  width: 100%;
  height: auto;
}

.ra-entry-card {
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
}
.ra-entry-card:last-child {
  margin-bottom: 40px;
}

.ra-entry {
  padding: 0 10px 0 10px;
}

.ra-card-container .mdl-button {
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  color: #efefef;
}

.ra-link.mdl-button {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  height: 20px;
  padding: 2px 6px 0 6px;
  margin-bottom: 20px;
}
.ra-link.mdl-button:hover {
  background-color: rgba(34, 169, 129, 0.7);
}

.ra-link .material-icons {
  font-size: 20px;
}
.ra-more {
  margin-top: 8px;
}

.ra-card-container .mdl-card {
  min-height: 300px;
  background-color: #fefefe;
}

.ra-map {
  position: fixed;
  width: 47%;
  right: 30px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
}

button.ra-fab {
  font-size: 12px;
  color: #efefef !important;
  background-color: #22a981 !important;
  position: absolute;
  bottom: -26px;
  z-index: 3;
}

.btn {
  text-transform: none;
  font-size: 16px;
}

.btn-success {
  background-color: #dedede !important;
}

.media-selected {
  background-color: #efefef;
  margin-top: 0 !important;
  padding-top: 15px !important;
}

.media-price {
  background-color: #90d4c0;
  color: #ffffff;
  font-size: 18px;
  padding: 6px;
}

.media-username {
  color: #22a981;
  font-size: 14px;
  margin-top: 20px;
}

.modal-ra-gallery {
  width: 80%;
}

.section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}

.setting ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.setting li {
  padding: 2px 0 2px 0;
}

.setting li i {
  padding: 2px 8px 0 0;
  color: #22a981;
  font-size: 20px;
}





