<div class="ui-g ui-fluid">
  <div class="ui-g-4 ui-lg-4 ui-md-offset-4">
    <!-- Left Side -->
    <div class="card card-w-title">
      <h1>Register</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12">
            <p-dropdown [options]="salutations" [(ngModel)]="selectedSalutation" [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="user.firstName">
              <label>First Name</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText [(ngModel)]="user.lastName">
              <label>Last Name</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText>
              <label>Street</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText>
              <label>Postalcode</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText>
              <label>City</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText>
              <label>Email</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
              <input type="text" pInputText>
              <label>Phone</label>
          </span>
        </div>
        <div class="ui-g-3">
          <span class="md-inputfield">
            <button pButton type="button"
                    label="Register"
                    (click)="saveUser()"
                    style="margin-bottom:10px;width:auto">
            </button>
          </span>
        </div>
        <div class="ui-g-5">
        </div>
        <div class="ui-g-3">
          <span class="md-inputfield">
            <button pButton type="button"
                    label="Cancel"
                    (click)="hideRegister()"
                    style="margin-bottom:10px;width:auto">

            </button>
          </span>
        </div>
        <!--<p-messages [value]="msgs"></p-messages>-->
        <!--<p-growl [value]="msgs" sticky="sticky"></p-growl>-->
      </div>
  </div>
</div>
