<div class="ui-g-8 ui-md-offset-2">
  <div class="card card-w-title">
      <h1>Your Restaurants</h1>
    <p-dataList [value]="restaurants" [paginator]="true" [rows]="5" styleClass="restaurants-datalist">
      <p-header>
        List of Restaurants
      </p-header>
      <ng-template let-restaurant pTemplate="item">
        <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #bdbdbd">
          <div>
            <p>{{restaurant.name}}</p>
            <p style="color:#757575">{{restaurant.city}} - {{restaurant.street}}</p>
          </div>
          <div>
            <button type="button"
                    pButton
                    icon="ui-icon-plus"
                    class="ui-button-icon-right ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    pTooltip="Register a new additional restaurant"
                    (click)="addRestaurant()">
            </button>
            <button type="button"
                    pButton
                    icon="ui-icon-delete"
                    class="ui-button-icon-right ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    pTooltip="Delete this restaurant">
            </button>
            <button type="button"
                    pButton
                    icon="ui-icon-details"
                    class="ui-button-icon-right ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    pTooltip="Displax the data of this restaurant"
                    (click)="displayRestaurant(restaurant._id)">
            </button>
            <button type="button"
                    pButton
                    icon="ui-icon-edit"
                    class="ui-button-icon-right ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                    pTooltip="Make changes of the data of this restaurant"
                    (click)="editRestaurant(restaurant._id)">
            </button>
          </div>
        </div>
      </ng-template>
    </p-dataList>
    <button pButton type="button"
            label="Close"
            (click)="hideRestaurantOverview()"
            style="margin-bottom:10px;width:auto">
    </button>
  </div>
</div>
