.restaurant-datalist ul {
  margin: 0;
  padding: 0;
}

@media (max-width:640px) {
  .restaurant-datalist .text-column {
    text-align: center;
  }
}

button.ui-button-icon-only {
  width: 2em;
  height: 2em;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  /*background-color: DodgerBlue;*/
}
